# -*- coding: utf-8 -*-
# name: rhnc
# key: rhnc
# --
with open('$0') as fin:
    indata, = fin.read()
    inheader, indata = indata[0], indata[1:]
    res = [x.split(',') for x in indata.split('\n')]
