# -*- mode: snippet -*-
# name: snippet header
# contributor: Pascal van Kooten <kootenpv@gmail.com>
# key: head
# --
# contributor: Pascal van Kooten <kootenpv@gmail.com>
# name: ${1:name}
# key: ${2:trigger-key}
# --
